.banner-container{
    background-color: #24263B;
}
.social-contact{
    display: inline-block;
    background-color: transparent;
    color: #fff;
    margin-right: 15px;
    padding: 10px;
    height: 40px;
    width: 40px;
    border: 2px solid #FF4A57;
    border-radius: 50%;
    transition: 0.4s;
}
.social-contact:hover{
    background-color: #FF4A57;
}
.banner-container h2{
    font-size: 58px;
    font-weight: 800;
}
.banner-container p{
    color: #d6d6d0;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
}
.primary-button{
    background-color: transparent;
    color: #fff;
    border: 2px solid #FF4A57;
    border-radius: 50px;
    margin-right: 20px;
    padding: 14px 22px;
    transition: 0.4s;
}
.primary-button:hover{
    background-color: #FF4A57;
}
.secondary-button{
    background-color: #FF4A57;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 14px 22px;
    transition: 0.4s;
}
.secondary-button:hover{
    background-color: #f73c49;
}